<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="email">
    <input type="password" name="password" id="" placeholder="Password">
    <input type="checkbox" name="remember_me" id="">remember me
    <input type="submit" value="Hello login">
</form>
